<!-- views/partials/footer.ejs -->
</div> <!-- ./container -->
  
<!-- Bootstrap 5 JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript personalizado -->
<script src="/js/script.js"></script>
</body>
</html>